<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My ML App</title>
</head>
<body>
<center>
    <h1 style="font-size: 60px; color: rebeccapurple; font-family: monospace;">Welcome to AI ML Project</h1>
    <h1 style="font-size: 30px; color: black; font-family: monospace;">Values according to your Skills</h1>
    {% for s, c in data %}
        <h3>{{ s }} --- <span style="font-size: 70px;">{{ c }}</span></h3>
    {% endfor %}

            -------------------



</center>
</body>
</html>